.App {
  background-color: white;
  height: 100%;
  margin-left: 0px;
}

.Menu {
  background-color: red;
  height: 100%;
  padding: 15px;
}

.table-grid-row {
  height: -1px;
  min-height: 15px;
  block-size: 20px;
  color: #922200;
}

.Menu-header {
  text-align: center;
  vertical-align: center;
  background-color: white;
  color: #2e4053;
  padding-top: 10px;
  font-weight: bold;
  margin-right: 90px;
  font-size: 2.5ex;
}

.div-athlete {
  margin-top: -8px;
  background-color: rgb(225, 241, 221);
  border-radius: 5px;
  border-color: rgb(137, 172, 111);
  border-width: 1px;
  border-style: solid;
  padding-top: 8px;
  height: 58px;
  width: 245px;
  margin-left: 15px;
  margin-right: 0px;
}

.div-athlete-head {
  margin-left: 22px;
  margin-top: -1px;
  text-align: left;
  font-weight: 500;
  font-size: 2.1ex;
  color: #1f550fe0;
  border-color: #28326986;
}

.Menu-image {
  text-align: center;
  vertical-align: center;
  background-color: white;
  color: #2e4053;
  padding-top: 8px;
  height: 34px;
  margin-left: 150px;
  margin-right: 20px;
  font-weight: bold;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
