.main {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 260px max-content;
}

.main-menu {
  grid-column: 1;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  margin-left: 10px;
  padding: 0em;
}

.main-content {
  grid-column: 2;
  width: calc(100vw - 280px);
  margin-left: 10px;
  margin-right: 10px;
}

.best-indicator {
  color: rgb(6, 0, 85);
  font-weight: 600;
  font-size: 1em;
}

.weight-table {
  color: black;
  width: 65vw;
}

.weight-item {
  background-color: rgb(20, 121, 28);
  color: white;
  font-size: 1em;
  width: 5px;
  font-weight: 400;
}

.tag-max-row {
  background-color: rgb(180, 12, 0);
  color: rgb(255, 255, 255);
  border-radius: 3px;
  border-width: 0.05em;
  font-size: 0.97em;
  font-weight: 600;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 1px;
}

.tag-weight {
  background-color: rgb(0, 126, 29);
  color: rgb(246, 255, 245);
  border-radius: 5px;
  border-width: 0.05em;
  font-size: 0.97em;
  font-weight: 400;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0px;
}

.tag-max-value {
  background-color: rgb(209, 15, 15);
  border-radius: 5px;
  font-size: 1.9ex;
  font-weight: 600;
  height: 21px;
  padding-top: 0px;
  text-align: start;
  padding-bottom: 0px;
  margin-bottom: 30px;
  border-color: rgb(187, 51, 51);
  color: rgb(250, 239, 239);
}

.tag-max-group-value {
  /* background-color: #EAFAF1; */
  border-radius: 5px;
  font-size: 0.96em;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 2px;
  text-align: center;
  margin-top: 0px;
  color: rgb(255, 0, 0);
}

.tag-side-left {
  background-color: #eafaf1;
  border-radius: 5px;
  font-size: 0.92em;
  font-weight: 400;
  padding-left: 11px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 2px;
  text-align: center;
  margin-top: 0px;
  color: rgb(0, 35, 99);
}

.tag-side-right {
  background-color: #d6eaf8;
  border-radius: 5px;
  border-width: 0.05em;
  font-size: 0.92em;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  margin-top: 0px;
  /* border-color: rgb(0, 94, 20); */
  color: rgb(0, 35, 99);
}

.tag-side-both {
  background-color: #fef5e7;
  border-radius: 5px;
  border-width: 0.05em;
  font-size: 0.92em;
  font-weight: 400;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  margin-top: 0px;
  /* border-color: rgb(0, 94, 20); */
  color: black;
}

.cell-value {
  font-size: 0.97em;
  font-weight: 600;
  padding-top: 0px;
  text-align: center;
  padding-bottom: 0px;
  margin-right: 0px;
  color: rgb(126, 126, 126);
}

.deviation-value-left {
  cursor: pointer;
  align-content: center;
  font-size: 0.9em;
  border-radius: 5px;
  border-width: 0.05em;
  border-style: solid;
  border-color: rgb(177, 226, 179);
  font-weight: 400;
  padding-top: 12px;
  padding-bottom: 6px;
  margin-top: 1px;
  width: 36px;
  height: 29px;
  text-align: center;
  padding-bottom: 0px;
  background-color: rgb(231, 252, 233);
  /* background-image: linear-gradient(#EAFAF1, #D6EAF8); */
  color: rgb(46, 43, 43);
}

.deviation-value-right {
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 5px;
  border-width: 0.05em;
  border-style: solid;
  border-color: rgb(177, 226, 179);
  font-weight: 400;
  margin-top: -10px;
  width: 36px;
  text-align: center;
  padding-bottom: 13px;
  vertical-align: -10em;
  background-color: rgb(231, 252, 233);
  /* background-image: linear-gradient(#EAFAF1, #D6EAF8); */
  color: rgb(46, 43, 43);
}

.deviation-value-side {
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 5px;
  border-width: 0.05em;
  border-style: solid;
  border-color: rgba(215, 221, 163, 0.644);
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 36px;
  height: 22px;
  text-align: center;
  padding-top: 1.5px;
  vertical-align: -10em;
  background-color: rgb(252, 252, 231);
  color: rgb(46, 43, 43);
}

.deviation-value-weight {
  cursor: pointer;
  font-size: 0.83em;
  border-radius: 5px;
  border-width: 0.05em;
  border-style: solid;
  background-color: rgb(0, 126, 29);
  color: rgb(246, 255, 245);
  font-weight: 400;
  padding-top: 0px;
  margin-top: 1px;
  width: 35px;
  height: 18.5px;
  text-align: center;
  padding-bottom: 0px;
}

.content-date-tab {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  width: 42px;
  margin-left: -10px;
  margin-right: -10px;
}

.content-date-year {
  grid-row: 1;
  grid-column: 1 / span 2;
  font-weight: 600;
  margin-left: 5px;
  margin-right: -8px;
  font-size: 0.99em;
  border-color: #7695b898;
  text-align: center;
}

.content-date-month {
  grid-row: 2;
  grid-column: 1 / span 2;
  text-align: center;
  margin-left: -2px;
  font-weight: 500;
}

.content-date-icon {
  grid-row: 2;
  grid-column: 1 / span 2;
  text-align: center;
  margin-left: 12px;
  font-weight: 500;
  /* color: rgb(109, 39, 39); */
}

.content-date-day {
  grid-row: 2;
  text-align: center;
  font-weight: 300;
  margin-left: 0px;
}

.expand {
  display: grid;
  grid-template-columns: 20px auto;
  margin-top: 3px;
}

.expand-icon {
  grid-column: 1;
  font-size: 1.25em;
  font-weight: 400;
  margin-top: -6px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: start;
  vertical-align: top;
  color: rgb(0, 7, 109);
}

.expand-value {
  grid-column: 2;
  font-size: 0.97em;
  font-weight: 400;
  padding-top: 0px;
  size: auto;
  margin-top: -6px;
  height: 24px;
  width: min-content;
  border-radius: 4px;
  text-align: start;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 25, 78);
}

.expand-value-group {
  grid-column: 2;
  font-size: 0.97em;
  font-weight: 400;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -5px;
  size: auto;
  height: 24px;
  width: 60px;
  border-radius: 4px;
  text-align: start;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(45, 98, 167);
  border-color: rgb(0, 164, 214);
  border-width: 0.1em;
  border-style: solid;
  background-color: rgb(203, 234, 243);
}

.tooltip-best {
  color: rgb(230, 219, 219);
  font-weight: 300;
  font-size: 0.92em;
}

.best-power-both {
  background-color: rgb(207, 0, 0);
  border-radius: 5px;
  border-width: 0.05em;
  font-size: 0.92em;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  margin-top: 0px;
  color: rgb(255, 255, 255);
}

.best-power-left {
  background-color: rgb(207, 48, 0);
  border-radius: 5px;
  border-width: 0.05em;
  font-size: 0.92em;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  margin-top: 0px;
  color: rgb(255, 255, 255);
}

.best-power-right {
  background-color: rgb(255, 67, 67);
  border-radius: 5px;
  border-width: 0.05em;
  font-size: 0.92em;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  margin-top: 0px;
  color: rgb(255, 255, 255);
}

.filter-group {
  background-color: rgb(0, 164, 214);
  color: red;
}

.data-table {
  /* height: calc(80vh); */
  width: 100%;
  margin: -15px;
  padding: 0px;
  outline: none;
  border-style: none;
}

.header-avg {
  background-color: #f2f8ff;
  color: rgb(5, 68, 119);
  font-weight: 400;
  overflow: 'hidden';
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.96em;
  align-content: center;
}

.header-max {
  background-color: #fff7ee;
  color: rgb(44, 39, 39);
  font-weight: 600;
  overflow: 'hidden';
  font-size: 0.92em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  display: grid;
  margin-left: -20px;
  width: 200px;
  height: 200px;
  margin-top: -5px;
  background-color: #d4f5c2;
  grid-template-columns: max-content 16px;
}

.container-versus {
  grid-column: 2;
  font-size: 0.76em;
  font-weight: 500;
  color: rgba(139, 1, 1, 0.808);
  height: min-content;
  margin-top: 7.4px;
  margin-right: 1px;
  padding: 0px;
  background-color: #d4f5c2;
  vertical-align: center;
}

.container-content {
  grid-column: 1;
  background-color: #d4f5c2;
  display: grid;
  padding-left: 4px;
  text-align: start;
  grid-template-rows: min-content min-content;
}

.container-top {
  grid-row: 1;
  font-size: 0.79em;
  margin-top: 1.3px;
  text-align: center;
  color: rgb(4, 51, 0);
  background-color: #d4f5c2;
  font-weight: 400;
}

.container-bottom {
  grid-row: 2;
  font-size: 0.79em;
  margin-top: -2px;
  color: rgb(68, 8, 0);
  background-color: #d4f5c2;
  font-weight: 400;
}

.menu-item {
  display: grid;
  grid-template-rows: auto auto;
  vertical-align: middle;
  color: rgb(123, 130, 145);
  text-align: center;
  min-height: 45px;
  padding: 3px 10px;
  margin: 0px 0px;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  border-right-style: solid;
  border-width: 0.1px;
  border-color: rgb(226, 240, 239);
}

.menu-item-year {
  grid-row: 2;
  text-align: center;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
  font-size: 0.9em;
}

.menu-item-day {
  grid-row: 1;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 0.96em;
}

.menu-item-wrapper {
  outline: none;
  border: none;
  margin-bottom: 3px;
  margin-top: 4px;
}

.menu-item-wrapper.active {
  border: none;
  outline: none;
}

.menu-item-wrapper.click {
  border: none;
}

.menu-item.active {
  border: 1px rgb(163, 158, 156) solid;
  background-color: rgb(197, 187, 179);
  border-radius: 5px;
  font-weight: 600;
  color: rgb(14, 14, 14);
  outline: none;
}

.menu-item:hover:not(.active) {
  font-weight: 500;
  color: rgb(0, 60, 255);
}

.scroll-menu-arrow {
  padding: 10px;
  cursor: pointer;
}

.scroll-menu-arrow--disabled {
  visibility: hidden;
}

.arrow-prev {
  color: rgb(59, 59, 59);
  font-size: 2em;
}

.arrow-next {
  color: rgb(59, 59, 59);
  font-size: 2em;
}

.header-exercise {
  display: grid;
  grid-auto-columns: 200px auto;
  background-color: rgb(243, 243, 243);
  align-content: start;
  text-align: left;
  padding-top: 0px;
  width: 100%;
}

.header-exercise-image {
  grid-column: 1;
  padding-top: 10px;
  padding-left: 5px;
}

.header-exercise-image-content {
  fill: rgb(189, 212, 243);
  height: 35px;
  width: 35px;
}

.header-exercise-content {
  grid-column: 1;
  display: grid;
  grid-auto-columns: auto auto;
  border-right-style: solid;
  border-width: 0.107em;
  border-color: rgb(192, 196, 212);
  background-color: rgb(0, 39, 90);
  padding: 0px;
}

.header-exercise-description {
  grid-column: 2;
  margin-top: 15px;
  font-weight: 500;
  color: rgb(189, 212, 243);
}

.header-exercise-day {
  grid-column: 2;
  margin-left: -50px;
}
