.main {
  display: grid;
  grid-template-columns: 200px auto;
}

.main-menu {
  grid-column: 1;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  width: 200px;
  margin-top: 0px;
}

.main-content {
  grid-column: 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  width: 100%;
  margin-top: 0px;
}
