.main {
  display: grid;
  grid-template-columns: 220px max-content;
}

.main-menu {
  grid-column: 1;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  margin-left: 10px;
  padding: 0em;
}

.main-content {
  grid-column: 2;
  width: calc(100vw - 240px);
  margin-left: 10px;
  margin-right: 10px;
}

.best-indicator {
  color: rgb(6, 0, 85);
  font-weight: 600;
  font-size: 1em;
}

.weight-table {
  color: black;
  width: 65vw;
}

.weight-item {
  background-color: rgb(20, 121, 28);
  color: white;
  font-size: 1em;
  width: 5px;
  font-weight: 400;
}
