/* DayPicker styles */

.DayPicker {
  display: inline-block;
  font-size: 1rem;
}

.DayPicker-wrapper {
  position: relative;
  flex-direction: row;
  padding-bottom: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DayPicker-Month {
  display: table;
  margin: 0 1em;
  margin-top: 1em;
  border-spacing: 10;
  padding: 1px;
  border-collapse: separate;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.DayPicker-Month td {
  padding: 10px;
}

.DayPicker-NavBar {
}

.DayPicker-NavButton {
  position: absolute;
  top: 1em;
  right: 1.5em;
  left: auto;
  display: inline-block;
  margin-top: 2px;
  width: 1.25em;
  height: 1.25em;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  color: #8b9898;
  cursor: pointer;
}

.DayPicker-NavButton:hover {
  opacity: 0.8;
}

.DayPicker-NavButton--prev {
  margin-right: 1.5em;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC');
}

.DayPicker-NavButton--next {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg==');
}

.DayPicker-NavButton--interactionDisabled {
  display: none;
}

.DayPicker-Caption {
  display: table-caption;
  margin-bottom: 0.5em;
  padding: 0 0.5em;
  text-align: left;
}

.DayPicker-Caption > div {
  font-weight: 500;
  font-size: 1.15em;
}

.DayPicker-Weekdays {
  display: table-header-group;
  margin-top: 1em;
}

.DayPicker-WeekdaysRow {
  display: table-row;
}

.DayPicker-Weekday {
  display: table-cell;
  padding: 1.5em;
  margin: 1.5em;
  color: #8b9898;
  text-align: center;
  font-size: 0.875em;
}

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.DayPicker-Body {
  display: table-row-group;
}

.DayPicker-Week {
  display: table-row;
}

td {
  padding: 10px;
}

.DayPicker-Day {
  display: table-cell;
  padding: 1.1em;
  margin: 1.5em;
  border-radius: 0%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border-collapse: collapse;
}

.DayPicker-Day--highlighted {
  background-color: rgba(255, 0, 0, 0.219);
  /* color: rgb(0, 36, 156); */
  border-radius: 0%;
}

.DayPicker-Month {
  border-collapse: separate;
}

.DayPicker-WeekNumber {
  outline: none;
}

.DayPicker-Day {
  outline: none;
  border: 0px solid transparent;
}

.DayPicker-Day--hoverRange {
  background-color: rgba(172, 197, 211, 0.452) !important;
}

.DayPicker-Day--selectedRange {
  background-color: #1165ff !important;
  border-top-color: #f73606;
  border-bottom-color: #f73606;
  border-left-color: #f73606;
  border-right-color: #f73606;
}

.DayPicker-Day--selectedRangeStart {
  background-color: #1165ff !important;
  border-left: 1px solid #f73606;
}

.DayPicker-Day--selectedRangeEnd {
  background-color: #1165ff !important;
  border-right: 1px solid #f73606;
}

.DayPicker-Day--selectedRange:not(.DayPicker-Day--outside).DayPicker-Day--selected,
.DayPicker-Day--hoverRange:not(.DayPicker-Day--outside).DayPicker-Day--selected {
  border-radius: 0 !important;
  color: black;
}

.DayPicker-Day--hoverRange:hover {
  border-radius: 0 !important;
}

.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}

.DayPicker-WeekNumber {
  display: table-cell;
  padding: 1.1em;
  margin: 1.5em;
  min-width: 1em;
  border-right: 1px solid #eaecec;
  color: #8b9898;
  vertical-align: middle;
  text-align: right;
  font-size: 0.75em;
  cursor: pointer;
}

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}

.DayPicker-Footer {
  padding-top: 0.5em;
}

.DayPicker-TodayButton {
  border: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: #4a90e2;
  font-size: 0.875em;
  cursor: pointer;
}

/* Default modifiers */

.DayPicker-Day--today {
  color: #d0021b;
  font-weight: 700;
}

.DayPicker-Day--outside {
  color: #8b9898;
  cursor: default;
}

.DayPicker-Day--disabled {
  color: #dce0e0;
  cursor: default;
}

/* Example modifiers */

.DayPicker-Day--sunday {
  background-color: #f7f8f8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #dce0e0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  position: relative;
  background-color: #4a90e2;
  color: #f0f8ff;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #51a0fa;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: rgb(255, 240, 240);
}

/* DayPickerInput */

.DayPickerInput {
  display: inline-block;
}

.DayPickerInput-OverlayWrapper {
  position: relative;
}

.DayPickerInput-Overlay {
  position: absolute;
  left: 0;
  z-index: 1;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.DayPicker-Day-Cell {
  display: grid;
  grid-template-rows: 100px 100px;
  background-color: red;
}

.main {
  display: grid;
  grid-template-columns: 430px auto;
}

.main-calendar {
  grid-column: 1;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  width: 430px;
  margin-top: 0px;
}

.main-calendar-exercises {
  grid-row: 1;
  text-align: center;
}

.main-calendar-selector {
  grid-row: 2;
}

.main-calendar-pbs {
  grid-row: 3;
}

.main-body {
  grid-column: 2;
  width: 100%;
  margin-top: 0px;
  display: grid;
  vertical-align: middle;
  background-color: rgba(244, 246, 246, 0.603);
  height: stretch;
}

.main-day {
  display: grid;
  margin-left: 20px;
  grid-template-columns: 35px min-content 35px;
  grid-template-rows: 27px 100px auto;
}

.main-day-content {
  grid-column: 2;
  grid-row: 2;
  /* width: 1000px; */
  margin: 0px 0px 0px 0px;
}

.main-day-sessions-list {
  grid-column: 1;
  grid-row: 3;
  margin: 0px 0px 0px 0px;
}

.main-day-header {
  grid-row: 1;
  font-size: 1.05em;
  font-weight: 700;
  color: rgb(15, 41, 77);
  font-stretch: ultra-expanded;
  margin: 5px 5px 10px 5px;
}

.main-day-button-navigate {
  margin-right: 10px;
  margin-top: 2px;
  height: 96px;
}

.main-day-left {
  grid-column: 1;
  grid-row: 2;
  margin-top: 5px;
  margin-left: 1px;
}

.main-day-right {
  grid-column: 3;
  grid-row: 2;
  margin-top: 5px;
  margin-left: 1px;
}

.main-day-item {
  display: grid;
  height: 100px;
  width: 200px;
  padding-top: 10px;
  margin: 5px 0px 15px 0px;
  border-style: solid;
  border-color: #d6dbdf;
  border-width: 0.5px;
  background-color: rgb(5, 28, 54);
  grid-template-columns: 80px 40px 80px;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.main-day-item:hover {
  opacity: 0.8;
  background-color: rgb(13, 68, 100);
}

.main-day-item:active {
  opacity: 0.8;
  background-color: rgb(4, 33, 95);
}

.main-day-item-selected {
  display: grid;
  height: 100px;
  width: 200px;
  padding-top: 10px;
  margin: 5px 0px 15px 0px;
  border-style: solid;
  border-color: #d6dbdf;
  border-width: 0.5px;
  background-color: rgb(37, 111, 155);
  grid-template-columns: 80px 40px 80px;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.main-day-day-day {
  grid-column: 2;
  grid-row: 1;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  padding-bottom: -1px;
  color: rgb(17, 39, 87);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: rgb(204, 222, 248);
  background-color: rgb(223, 233, 255);
}

.main-day-day-month {
  grid-column: 3;
  grid-row: 1;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  margin-top: 8px;
  vertical-align: middle;
  letter-spacing: 2px;
  text-align: center;
  color: rgb(135, 156, 170);
}

.main-day-day-weekday {
  grid-column: 1;
  grid-row: 1;
  font-size: 0.8em;
  text-align: left;
  margin-top: 12px;
  padding-left: 5px;
  vertical-align: middle;
  text-align: center;
  color: rgb(183, 183, 202);
}

.main-day-day-exercise {
  grid-column: 1/3;
  margin-left: 45px;
  padding-top: 5px;
  grid-row: 2/2;
  font-size: 0.8em;
  list-style-type: square;
  list-style-position: outside;
  text-align: left;
  width: 200px;
  color: rgb(183, 183, 202);
}

.main-day-day-exercise li {
  font-size: 0.8em;
  color: rgb(255, 255, 255);
}

.main-day-day-sessions-count {
  grid-column: 1;
  grid-row: 2;
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
  padding-left: 0px;
  padding-top: 6px;
  vertical-align: middle;
  color: rgb(160, 71, 44);
}

.main-day-day-sessions {
  grid-column: 1;
  grid-row: 3;
  font-size: 0.8em;
  text-align: left;
  margin-top: -1px;
  padding-left: 5px;
  vertical-align: middle;
  text-align: center;
  color: rgb(183, 183, 202);
}

.personal-best-container {
  display: grid;
  grid-template-rows: min-content min-content;
  /* background-color: #8b98982a; */
  margin-top: -30px;
}

.personal-best {
  position: relative;
  color: white;
  width: 120px;
  height: 90px;
  margin-top: -0px;
}

.personal-best-chart {
  position: absolute;
  width: min-content;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.personal-best-label {
  position: absolute;
  text-align: center;
  top: 46%;
  left: 62%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  font-stretch: ultra-expanded;
  font-weight: 300;
  color: rgba(25, 72, 158, 0.445);
}

.personal-best-value {
  position: absolute;
  text-align: center;
  top: 89%;
  left: 95%;
  transform: translate(-50%, -50%);
  font-size: 0.8em;
  font-weight: 600;
  color: rgba(25, 72, 158, 0.445);
}

.personal-best-heading {
  position: absolute;
  text-align: center;
  top: 14%;
  left: 18%;
  transform: translate(-50%, -50%);
  font-size: 0.85em;
  font-weight: 400;
  color: rgb(149, 161, 189);
}

.personal-best-list {
  grid-row: 2;
  display: grid;
  padding-top: 0px;
  height: min-content;
  margin: 5px 0px 0px 0px;
  grid-template-columns: 1fr 1fr 1fr;
  cursor: pointer;
}

.personal-best-weight {
  grid-row: 1;
  display: grid;
  padding-top: 0px;
  height: min-content;
  padding: 0px;
  margin: -10px;
  margin-bottom: -10px;
}

.exercise-list {
  width: 90%;
  margin: 15px;
  font-size: 0.9em;
  font-weight: 400;
}

.exercise-list-item {
  font-size: 0.9em;
  color: rgb(20, 74, 155);
}
